name: Deploy to Linode

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          # 1. Navigate to Project Folder
          cd /var/www/dreambook/dreambook-v2

          # 2. Pull latest code from GitHub
          git pull origin main

          # 3. Update Backend
          echo "------ Deploying Backend ------"
          cd backend
          npm install
          pm2 restart dreambook-api

          # 4. Update Frontend
          echo "------ Deploying Frontend ------"
          cd ../frontend
          npm install
          npm run build
          pm2 restart frontend

          echo "------ Deployment Complete! ------"